<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="crtEntities" connectionString="metadata=res://*/Models.EDModel.csdl|res://*/Models.EDModel.ssdl|res://*/Models.EDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stg-pay-db\STG_PAY_DB;initial catalog=crt;persist security info=True;user id=stg-mp-ap;password=n4e7tjaNBNLDKXR;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>